Source: pkgcheck
Section: utils
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), appver, jenkins-support-scripts (>=1.2.3)
Standards-Version: 3.8.1
Homepage: http://safrm.net/projects/pkgcheck

Package: pkgcheck
Architecture: all
Depends: diffutils, ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: fast and easy way to be sure that your package does not miss \
	some files


